.dark-mode{
    background-color: black;
    color:white;
}
.dark-mode nav{
    background-color: black;
    color:white;
}
.dark-mode section{
    background-color: black;

}
.dark-mode bg-blue-100{
    background-color: black;
    color:white;
}
.dark-mode .bg-white{
    background-color: black;
}
.dark-mode .text-gray-700{
    color:white;
}